<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Booking Page</title>
</head>
<!--Author: Hans og Daniel-->
<body>
<form action="/createBooking" method="post">
    <label>
        Enter Costumer name: <input type="text" name="costumerName" placeholder="Costumer name">
    </label>
    <label>
        Enter Costumer phone: <input type="text" name="costumerTelephone" placeholder="Costumer phone">
    </label>

    <label>
        Enter employee name: <input type="text" name="employeeName" placeholder="Employee name">
    </label>

    <label>
        Enter date of booking: <input type="text" name="startDate" placeholder="start Date">
    </label>

    <label>
        Enter time of day for booking start: <input type="text" name="timeStart" placeholder="start Time">
    </label>
</form>
</body>
</html>