<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="templates/head.html(customCSS='style.css')"></head>
<header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            var name = $("input:text").val();
            document.getElementById("showName").innerHTML = name;
        });
    });
</script>


<p>Indtast navn på dagens medarbejder:
    <input type="text" name="employee" value="Navn">
</p>
<button>Enter</button>
<p id="showName"></p>
</header>
<body>
<h1>THIS PAGE IS FOR THYMELEAF & HTML
    <TESTIN></TESTIN>
    G.
</h1>
<section class="activity">
    <tr th:each="list :${list}">
        <td th:text="${list.getActivityName}"></td>
        <td th:text="${list.getAgeLimit}"></td>
        <td th:text="${list.getActivityID}"></td>
    </tr>

</section>
<ul th:each="list :${list}">
    <li>Name: <a th:href="@{/{id}(id=${list.getActivityName})}" th:text="${list.getActivityName}"></a> Age: <a
            th:text="${list.getAgeLimit}"></a> Activity ID: <a
            th:text="${list.getActivityID}"></a></li>
</ul>

<section>

    <tr th:each="list :${list}"><br>
        <th scope="row"><a class="portfolio-link" th:href="@{/{id}(id=${list.getActivityName})}"
                           th:text="${list.getActivityName}"></a></th>
        <td th:text="${list.getAgeLimit}"> Agelimit</td>
        <td th:text="${list.getHeightLimit}"> HeightLimit</td>
        <td th:test="${list.getTimeLimit}"></td>
        <td th:text="${list.isWithAdult}"></td>
    </tr>

    <button type="button" class="btn btn-primary" th:href="/createActivity" style="margin-right: 10px">Tilføj aktivitet
    </button>
</section>


</body>
</html>

<!-- <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

   Favicon
<link rel="icon" type="image/x-icon" href="assets/img/adventure-logo.svg"/>
Font Awesome icons (free version)
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
Google fonts
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
 Core theme CSS (includes Bootstrap)

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="assets/img/adventure-logo.svg" alt="..."
                                              style="height: 100px;"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Forside</a></li>
                <li class="nav-item"><a class="nav-link" href="/searchBooking">Bookings</a></li>
            </ul>
        </div>
    </div>
</nav>

</head> -->