<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Joachim & Christian" charset="UTF-8">
    <title>Update Booking</title>
</head>
<body>

<label>
    Enter Employee name: <input type="text" name="employeeName" placeholder="Employee name">
</label>

<label>
    Enter Costumer name: <input type="text" name="customerName" placeholder="Costumer name">
</label>

<label>
    Enter Customer telephone: <input type="text" name="customerTelephone" placeholder="Customer telephone">
</label>

<label>
    Enter start date of booking: <input type="date" name="startDate" placeholder="start Date">
</label>

<label>
    Enter time of day for booking start: <input type="time" name="timeStart" placeholder="start Time">
</label>

</body>
</html>