<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<header th:replace="fragments/header.html"></header>


<!-- Activity Grid-->
<body id="page-top">
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Opdater aktiviteter</h2>
            <h3 class="section-subheading text-muted">Se, tilføj og ret i AdventureXP's aktiviteter.</h3>
        </div>
        <form class="form" id="activityupdate" onsubmit="return updateActivity()" action="/updateActivity"
              method="POST">
            <input type="hidden" name="activityID" th:value="${activity.activityID}">
           <div class="form-group">
                <label for="formGroupExampleInput">Aktivitet</label>
                <input type="text" name="activityName" class="form-control" id="formGroupExampleInput"
                       th:value="${activity.activityName}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Aldersgrænse</label>
                <input type="text" name="ageLimit" class="form-control" id="formGroupExampleInput2"
                       th:value="${activity.ageLimit}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput3">Højdekrav</label>
                <input type="text" name="heightLimit" class="form-control" id="formGroupExampleInput3"
                       th:value="${activity.heightLimit}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput4">Tidsgrænse</label>
                <input type="text" name="timeLimit" class="form-control" id="formGroupExampleInput4"
                       th:value="${activity.timeLimit}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput5">Beskrivelse af Aktivitet</label>
                <input type="text" name="description" class="form-control" id="formGroupExampleInput5"
                       th:value="${activity.description}">
            </div>

            <br>
            <button type="submit" class="btn btn-primary" style="margin-right: 10px">
                <a class="theButtons">Opdater</a></button>
            <button type="reset" class="btn btn-primary" style="margin-right: 10px">
                <a class="theButtons">Fortryd</a></button>
        </form>
    </div>
</section>
</body>

<footer th:replace="fragments/footer.html"></footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</html>
